{% extends "base.html" %}

{% block title %}
    Edit Credits
{% endblock title %}

{% block content %}
    <section id="signup">
        <div class="container">
            <div class="row margin-40">
                <div class="col-sm-12">
                    <h3>Edit Credits</h3>
                    <p><small>Please note, all required fields are marked with an asterisk (*)</small></p>
                    <form method="post" class="form-inline" role="form" enctype="multipart/form-data">{% csrf_token %}
                        <div class="col-md-12 form-block">
                            <h4>Edit Credits</h4>
                        </div>
                        <div class="col-md-12">
                            {{ formset.management_form }}
                            {% for form in formset.forms %}
                            <div class="row row-skills">
                                {{ form.id }}
                                <div class="col-md-1">
                                    {{ form.year.label_tag }}
                                    {% if form.year.field.required %}*{% endif %}
                                    {{ form.year.errors }}
                                    {{ form.year }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.crew_position.label_tag }}
                                    {% if form.crew_position.field.required %}*{% endif %}
                                    {{ form.crew_position.errors }}
                                    {{ form.crew_position }}
                                    <small class="help-block">{{ form.crew_position.help_text }}</small>
                                </div>
                                <div class="col-md-5">
                                    {{ form.project_name.label_tag }}
                                    {% if form.project_name.field.required %}*{% endif %}
                                    {{ form.project_name.errors }}
                                    {{ form.project_name }}
                                </div>
                                <div class="col-md-1">
                                    {{ form.imdb_credited.label_tag }}
                                    {{ form.imdb_credited }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="col-md-12 form-block">
                            <button type="submit" class="btn-main">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}