{% extends "base.html" %}

{% block title %}
    Delete Account
{% endblock title %}

{% block content %}
    <section id="signup">
        <div class="container">
            <div class="row margin-40">
                <div class="col-sm-12">
                    <h3>Confirm Account Deletion</h3>
                    <p>Are you sure you want to delete your account? You activity will be deleted.</p> 
                    <form method="post" action='.' class="form-inline" role="form">{% csrf_token %}
                        <div class="col-md-12 form-block">
                            <button type="submit" class="btn-main"><i class="fa fa-warn"></i> Confirm Delete Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}