{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Enter New Password" %}
{% endblock title %}

{% block content %}
    <section id="login">
        <div class="container">
            <div class="row margin-40">
                <div class="col-sm-6 col-sm-offset-3 text-center login">
                    <h3>Enter New Password</h3><br/>

                    {% if form.new_password1.errors %}
                        <div class="alert alert-danger">
                            {{ form.new_password1.errors }}
                        </div>
                    {% endif %}
                    {% if form.new_password2.errors %}
                        <div class="alert alert-danger">
                            {{ form.new_password2.errors }}
                        </div>
                    {% endif %}

                    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                    <br/>
                    <form method="post" action="." class="form-inline" role="form">{% csrf_token %}
                        <div class="col-md-8 col-md-offset-2">
                            <span class="move-left"><label for="id_new_password1" class="required">{% trans 'New password:' %}</label></span>
                            {{ form.new_password1 }}
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <span class="move-left"><label for="id_new_password2" class="required">{% trans 'Confirm password:' %}</label></span>
                            {{ form.new_password2 }}
                            <p class="grp-help">{% trans 'Enter the same password as above, for verification.' %}</p>
                        </div>
                        <div class="col-md-12 form-block">
                            <button type="submit" class="btn-main"><i class="fa fa-cogs"></i> {% trans "Change my password" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}