{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Password reset complete" %}
{% endblock title %}

{% block content %}
    <section id="login">
        <div class="container">
            <div class="row margin-40">
                <div class="col-sm-6 col-sm-offset-3 text-center login">
                    <h3>{% trans "Password reset complete" %}</h3>

                    <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

                    <p><a href="{% url "login" %}">Log In</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}