{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Forgot Password" %}
{% endblock title %}

{% block content %}
    <section id="login">
        <div class="container">
            <div class="row margin-40">
                <div class="col-sm-6 col-sm-offset-3 text-center login">
                    <h3>Reset Password</h3><br/>

                    {% if form.email.errors %}
                        <div class="alert alert-danger">
                            {{ form.email.errors }}
                        </div>
                    {% endif %}

                    <p>{% trans "Enter your email address below to be <br/> sent email instructions for setting a new password." %}</p>

                    <br/>
                    <form method="post" action="." class="form-inline" role="form">{% csrf_token %}
                        <div class="col-md-8 col-md-offset-2">
                            <span class="move-left"><label for="id_username">Email:</label></span>
                            {{ form.email }}
                        </div>
                        <div class="col-md-12 form-block">
                            <button type="submit" class="btn-main"><i class="fa fa-check"></i> {% trans "Reset my password" %}</button>
                        </div>
                        <div class="col-md-12">
                            <a class="small-message" href="{% url 'signup' %}"><small>{% trans "Need An Account?" %}</small></a> |
                            <a class="small-message" href="{% url 'login' %}"><small>{% trans "Already Registered?" %}</small></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}